.clang_complete
.vscode
.DS_Store
obj
build
binaries
install
install-debug
capstone.pc
version.hh

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeFiles/

**/capstone-config-version.cmake
**/capstone-config.cmake