[submodule "lib/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/UoB-HPC/capstone.git
[submodule "external/llvm"]
	path = external/llvm
	url = https://github.com/llvm-mirror/llvm
