.clang_complete
.vscode
.idea
.DS_Store
obj
build
xcode-build
docs/sphinx/_build
binaries
install
install-debug
capstone.pc
version.hh
**/specialFiles/

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeFiles/

**/capstone-config-version.cmake
**/capstone-config.cmake
