version: 2.1

jobs:
  build:
    parameters:
      cmake:
        type: string
    docker:
      - image: uobhpc/simeng-circleci:1
    steps:
      - checkout
      - run:
          name: Pull submodules
          command: |
            # Don't pull LLVM submodule to save time (use packaged version)
            git submodule init external/{capstone,googletest,yaml-cpp}
            git submodule update
      - run:
          name: Build SimEng
          command: |
            mkdir -p obj
            cd obj
            cmake .. \
              -DCMAKE_BUILD_TYPE=Debug \
              -DCMAKE_INSTALL_PREFIX=$PWD/../build \
              -DSIMENG_USE_EXTERNAL_LLVM=ON \
              -DLLVM_DIR=/usr/lib/llvm-8/cmake \
              -DSIMENG_ENABLE_TESTS=ON \
              << parameters.cmake >>
            make -j 2
            ctest --output-on-failure
            make install
      - run:
          name: Run SimEng
          command: build/bin/simeng

  check-format:
    docker:
      - image: uobhpc/simeng-circleci:1
    steps:
      - checkout
      - run:
          name: Check code formatting
          command: |
            # Generate a formatting diff
            git-clang-format-8 --diff origin/main --extensions cc,hh \
              >FORMATTING

            # Check whether any source files were modified
            if grep 'no modified files to format' FORMATTING
            then
              exit 0
            fi

            # Check whether any formatting changes are necessary
            if grep 'clang-format did not modify any files' FORMATTING
            then
              exit 0
            fi

            echo
            echo "Code formatting issues detected (see below)."
            echo
            cat FORMATTING
            exit 1

workflows:
  version: 2.1
  build:
    jobs:
      - build:
          name: gcc-8
          cmake: -DCMAKE_C_COMPILER=gcc-8 -DCMAKE_CXX_COMPILER=g++-8
      - build:
          name: gcc-7
          cmake: -DCMAKE_C_COMPILER=gcc-7 -DCMAKE_CXX_COMPILER=g++-7
          requires:
            - gcc-8
      - build:
          name: clang-7
          cmake: -DCMAKE_C_COMPILER=clang-7 -DCMAKE_CXX_COMPILER=clang++-7
          requires:
            - gcc-8
      - build:
          name: clang-5
          cmake: -DCMAKE_C_COMPILER=clang-5.0 -DCMAKE_CXX_COMPILER=clang++-5.0
          requires:
            - gcc-8
      - check-format:
          name: formatting
          requires:
            - gcc-8
