

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Pipeline &mdash; SimEng  documentation</title>
  

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../',
              VERSION:'',
              LANGUAGE:'None',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: '.txt'
          };
      </script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Pipeline Units" href="units.html" />
    <link rel="prev" title="Core Instance" href="../coreinstance.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../index.html" class="icon icon-home"> SimEng
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Developer Documentation</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">Overview</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../developerInfo.html">Developer information</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../concepts/index.html">Simulation Concepts</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Simulation Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../coreinstance.html">Core Instance</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Pipeline</a><ul>
<li class="toctree-l3"><a class="reference internal" href="units.html">Pipeline Units</a></li>
<li class="toctree-l3"><a class="reference internal" href="components.html">Common Components</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../branchPred.html">Branch prediction</a></li>
<li class="toctree-l2"><a class="reference internal" href="../registerFiles.html">Register Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../models/index.html">Models</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../arch/index.html">Architectures</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../test/index.html">Testing</a></li>
</ul>
<p class="caption"><span class="caption-text">User Documentation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../user/index.html">Overview</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../user/building_simeng.html">Building SimEng</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../user/running_simeng.html">Running SimEng</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../user/configuring_simeng.html">Configuring SimEng</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../user/creating_binaries.html">Creating Binaries</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">SimEng</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../index.html">Simulation Components</a> &raquo;</li>
        
      <li>Pipeline</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../_sources/developer/components/pipeline/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="pipeline">
<h1>Pipeline<a class="headerlink" href="#pipeline" title="Permalink to this headline">¶</a></h1>
<p>The SimEng pipeline consists of a set of standard self-contained “units”, which represent the logic for the various stages of a processor pipeline. These units are designed to be generic representations of the typical functionality found in their hardware counterparts to encourage reusability between models.</p>
<p>Beyond these pipeline units, appropriate instructions may flow to other objects termed “common components”. These components provide additional logic that may not have such typical functionality, as the pipeline units do, and thus may require alterations to better suit the model. These components include:</p>
<p><code class="docutils literal"><span class="pre">ReorderBuffer</span></code>: Holds an ordered list of ‘in-flight’ instructions, with facilities for committing instructions and rewinding register allocations.</p>
<p><code class="docutils literal"><span class="pre">LoadStoreQueue</span></code>: Holds ordered queues of load/store instructions, with facilities for servicing memory accesses and checking for address clashes.</p>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="units.html">Pipeline Units</a><ul>
<li class="toctree-l2"><a class="reference internal" href="units.html#fetchunit">FetchUnit</a></li>
<li class="toctree-l2"><a class="reference internal" href="units.html#decodeunit">DecodeUnit</a></li>
<li class="toctree-l2"><a class="reference internal" href="units.html#renameunit">RenameUnit</a></li>
<li class="toctree-l2"><a class="reference internal" href="units.html#dispatchissueunit">DispatchIssueUnit</a></li>
<li class="toctree-l2"><a class="reference internal" href="units.html#executeunit">ExecuteUnit</a></li>
<li class="toctree-l2"><a class="reference internal" href="units.html#writebackunit">WritebackUnit</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="components.html">Common Components</a><ul>
<li class="toctree-l2"><a class="reference internal" href="components.html#reorder-buffer">Reorder Buffer</a></li>
<li class="toctree-l2"><a class="reference internal" href="components.html#loadstorequeue">LoadStoreQueue</a></li>
</ul>
</li>
</ul>
</div>
</div>


           </div>
           
          </div>
          <footer>
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
        <a href="units.html" class="btn btn-neutral float-right" title="Pipeline Units" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
        <a href="../coreinstance.html" class="btn btn-neutral float-left" title="Core Instance" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2021, SimEng developers.

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>